.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.001000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.738000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.901000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.999000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.486000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.430000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.907000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.714000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-4.119550px;}
._1{margin-left:-3.073600px;}
._17{margin-left:-2.062303px;}
._2{margin-left:-1.040102px;}
._b{width:1.040102px;}
._8{width:2.053194px;}
._16{width:11.270749px;}
._3{width:12.292950px;}
._7{width:13.310034px;}
._4{width:14.832333px;}
._a{width:16.390579px;}
._6{width:17.693578px;}
._c{width:19.920255px;}
._0{width:37.180650px;}
._11{width:323.882431px;}
._18{width:939.747172px;}
._5{width:1095.045584px;}
._e{width:1178.280750px;}
._9{width:1201.596522px;}
._13{width:1212.149850px;}
._10{width:1224.558930px;}
._f{width:1532.121832px;}
._15{width:1539.650021px;}
._14{width:1558.466297px;}
._12{width:1604.677582px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:19.925200px;}
.fs5{font-size:23.910400px;}
.fs1{font-size:35.865600px;}
.fs3{font-size:39.850400px;}
.fs2{font-size:47.820800px;}
.fs0{font-size:99.148400px;}
.y0{bottom:-0.500000px;}
.y49{bottom:56.925000px;}
.y48{bottom:67.884000px;}
.y47{bottom:68.897000px;}
.y46{bottom:80.835000px;}
.y45{bottom:82.098000px;}
.y44{bottom:92.890000px;}
.y43{bottom:109.727000px;}
.y42{bottom:120.686000px;}
.y41{bottom:121.699000px;}
.y40{bottom:133.637000px;}
.y3f{bottom:134.900000px;}
.y3e{bottom:145.692000px;}
.y3d{bottom:162.529000px;}
.y3c{bottom:163.543000px;}
.y3b{bottom:175.480000px;}
.y3a{bottom:176.743000px;}
.y39{bottom:187.535000px;}
.y38{bottom:204.372000px;}
.y37{bottom:205.386000px;}
.y36{bottom:217.323000px;}
.y35{bottom:218.586000px;}
.y34{bottom:229.378000px;}
.y33{bottom:246.215000px;}
.y32{bottom:247.229000px;}
.y31{bottom:259.167000px;}
.y30{bottom:260.429000px;}
.y2f{bottom:271.221000px;}
.y2e{bottom:289.057000px;}
.y2d{bottom:311.044000px;}
.y2c{bottom:312.058000px;}
.y2b{bottom:323.996000px;}
.y2a{bottom:325.009000px;}
.y29{bottom:336.947000px;}
.y28{bottom:347.906000px;}
.y27{bottom:348.920000px;}
.y26{bottom:360.857000px;}
.y25{bottom:371.816000px;}
.y24{bottom:372.830000px;}
.y23{bottom:384.768000px;}
.y22{bottom:386.030000px;}
.y21{bottom:396.574000px;}
.y20{bottom:408.529000px;}
.y1f{bottom:425.465000px;}
.y1e{bottom:426.479000px;}
.y1d{bottom:438.417000px;}
.y1c{bottom:439.679000px;}
.y1b{bottom:450.222000px;}
.y1a{bottom:462.178000px;}
.y19{bottom:479.712000px;}
.y18{bottom:491.667000px;}
.y17{bottom:506.611000px;}
.y16{bottom:507.624000px;}
.y15{bottom:519.562000px;}
.y14{bottom:520.825000px;}
.y13{bottom:531.368000px;}
.y12{bottom:543.323000px;}
.y11{bottom:559.167000px;}
.y5b{bottom:575.851000px;}
.y10{bottom:581.154000px;}
.yf{bottom:582.167000px;}
.y5a{bottom:586.809000px;}
.ye{bottom:594.105000px;}
.yd{bottom:595.119000px;}
.y59{bottom:597.768000px;}
.y58{bottom:606.797000px;}
.yc{bottom:608.053000px;}
.y56{bottom:608.727000px;}
.y57{bottom:610.770000px;}
.yb{bottom:619.012000px;}
.y55{bottom:624.421000px;}
.ya{bottom:629.971000px;}
.y9{bottom:643.918000px;}
.y8{bottom:644.932000px;}
.y54{bottom:646.408000px;}
.y7{bottom:656.870000px;}
.y53{bottom:657.367000px;}
.y6{bottom:658.132000px;}
.y52{bottom:668.326000px;}
.y5{bottom:668.675000px;}
.y4{bottom:680.631000px;}
.y51{bottom:681.277000px;}
.y50{bottom:692.236000px;}
.y4f{bottom:693.250000px;}
.y3{bottom:696.474000px;}
.y4e{bottom:705.188000px;}
.y4d{bottom:716.147000px;}
.y4c{bottom:717.409000px;}
.y2{bottom:722.496000px;}
.y4b{bottom:728.201000px;}
.y1{bottom:737.410000px;}
.y4a{bottom:746.037000px;}
.h6{height:9.823124px;}
.h7{height:17.072026px;}
.h3{height:26.899200px;}
.h5{height:29.887800px;}
.h4{height:34.239693px;}
.h2{height:74.361300px;}
.h0{height:792.000000px;}
.h1{height:792.500000px;}
.w0{width:612.000000px;}
.w1{width:612.500000px;}
.x0{left:0.000000px;}
.x3{left:36.000000px;}
.x4{left:46.800000px;}
.x5{left:60.069000px;}
.x6{left:68.717000px;}
.x7{left:77.760000px;}
.x8{left:87.347000px;}
.x2{left:155.987000px;}
.x1{left:181.541000px;}
.x9{left:307.246000px;}
.xa{left:311.221000px;}
.xb{left:316.340000px;}
.xc{left:321.459000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-5.492734pt;}
._1{margin-left:-4.098134pt;}
._17{margin-left:-2.749737pt;}
._2{margin-left:-1.386803pt;}
._b{width:1.386803pt;}
._8{width:2.737592pt;}
._16{width:15.027666pt;}
._3{width:16.390600pt;}
._7{width:17.746711pt;}
._4{width:19.776444pt;}
._a{width:21.854106pt;}
._6{width:23.591437pt;}
._c{width:26.560340pt;}
._0{width:49.574200pt;}
._11{width:431.843241pt;}
._18{width:1252.996229pt;}
._5{width:1460.060779pt;}
._e{width:1571.041000pt;}
._9{width:1602.128696pt;}
._13{width:1616.199801pt;}
._10{width:1632.745240pt;}
._f{width:2042.829109pt;}
._15{width:2052.866695pt;}
._14{width:2077.955063pt;}
._12{width:2139.570109pt;}
.fs4{font-size:26.566933pt;}
.fs5{font-size:31.880533pt;}
.fs1{font-size:47.820800pt;}
.fs3{font-size:53.133867pt;}
.fs2{font-size:63.761067pt;}
.fs0{font-size:132.197867pt;}
.y0{bottom:-0.666667pt;}
.y49{bottom:75.900000pt;}
.y48{bottom:90.512000pt;}
.y47{bottom:91.862667pt;}
.y46{bottom:107.780000pt;}
.y45{bottom:109.464000pt;}
.y44{bottom:123.853333pt;}
.y43{bottom:146.302667pt;}
.y42{bottom:160.914667pt;}
.y41{bottom:162.265333pt;}
.y40{bottom:178.182667pt;}
.y3f{bottom:179.866667pt;}
.y3e{bottom:194.256000pt;}
.y3d{bottom:216.705333pt;}
.y3c{bottom:218.057333pt;}
.y3b{bottom:233.973333pt;}
.y3a{bottom:235.657333pt;}
.y39{bottom:250.046667pt;}
.y38{bottom:272.496000pt;}
.y37{bottom:273.848000pt;}
.y36{bottom:289.764000pt;}
.y35{bottom:291.448000pt;}
.y34{bottom:305.837333pt;}
.y33{bottom:328.286667pt;}
.y32{bottom:329.638667pt;}
.y31{bottom:345.556000pt;}
.y30{bottom:347.238667pt;}
.y2f{bottom:361.628000pt;}
.y2e{bottom:385.409333pt;}
.y2d{bottom:414.725333pt;}
.y2c{bottom:416.077333pt;}
.y2b{bottom:431.994667pt;}
.y2a{bottom:433.345333pt;}
.y29{bottom:449.262667pt;}
.y28{bottom:463.874667pt;}
.y27{bottom:465.226667pt;}
.y26{bottom:481.142667pt;}
.y25{bottom:495.754667pt;}
.y24{bottom:497.106667pt;}
.y23{bottom:513.024000pt;}
.y22{bottom:514.706667pt;}
.y21{bottom:528.765333pt;}
.y20{bottom:544.705333pt;}
.y1f{bottom:567.286667pt;}
.y1e{bottom:568.638667pt;}
.y1d{bottom:584.556000pt;}
.y1c{bottom:586.238667pt;}
.y1b{bottom:600.296000pt;}
.y1a{bottom:616.237333pt;}
.y19{bottom:639.616000pt;}
.y18{bottom:655.556000pt;}
.y17{bottom:675.481333pt;}
.y16{bottom:676.832000pt;}
.y15{bottom:692.749333pt;}
.y14{bottom:694.433333pt;}
.y13{bottom:708.490667pt;}
.y12{bottom:724.430667pt;}
.y11{bottom:745.556000pt;}
.y5b{bottom:767.801333pt;}
.y10{bottom:774.872000pt;}
.yf{bottom:776.222667pt;}
.y5a{bottom:782.412000pt;}
.ye{bottom:792.140000pt;}
.yd{bottom:793.492000pt;}
.y59{bottom:797.024000pt;}
.y58{bottom:809.062667pt;}
.yc{bottom:810.737333pt;}
.y56{bottom:811.636000pt;}
.y57{bottom:814.360000pt;}
.yb{bottom:825.349333pt;}
.y55{bottom:832.561333pt;}
.ya{bottom:839.961333pt;}
.y9{bottom:858.557333pt;}
.y8{bottom:859.909333pt;}
.y54{bottom:861.877333pt;}
.y7{bottom:875.826667pt;}
.y53{bottom:876.489333pt;}
.y6{bottom:877.509333pt;}
.y52{bottom:891.101333pt;}
.y5{bottom:891.566667pt;}
.y4{bottom:907.508000pt;}
.y51{bottom:908.369333pt;}
.y50{bottom:922.981333pt;}
.y4f{bottom:924.333333pt;}
.y3{bottom:928.632000pt;}
.y4e{bottom:940.250667pt;}
.y4d{bottom:954.862667pt;}
.y4c{bottom:956.545333pt;}
.y2{bottom:963.328000pt;}
.y4b{bottom:970.934667pt;}
.y1{bottom:983.213333pt;}
.y4a{bottom:994.716000pt;}
.h6{height:13.097498pt;}
.h7{height:22.762701pt;}
.h3{height:35.865600pt;}
.h5{height:39.850400pt;}
.h4{height:45.652924pt;}
.h2{height:99.148400pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.x3{left:48.000000pt;}
.x4{left:62.400000pt;}
.x5{left:80.092000pt;}
.x6{left:91.622667pt;}
.x7{left:103.680000pt;}
.x8{left:116.462667pt;}
.x2{left:207.982667pt;}
.x1{left:242.054667pt;}
.x9{left:409.661333pt;}
.xa{left:414.961333pt;}
.xb{left:421.786667pt;}
.xc{left:428.612000pt;}
}
